RABBITMQ_DEFAULT_USER={{ onclave_rabbitmq_default_user }}
RABBITMQ_DEFAULT_PASS={{ onclave_rabbitmq_default_pass }}
ONCLAVE_CORE_IMAGE_REPOSITORY={{ onclave_core_image_repository }}
ONCLAVE_CORE_IMAGE_TAG={{ onclave_core_image_tag }}
ONCLAVE_CORE_IMAGE_DIGEST={{ onclave_core_image_digest }}
ONCLAVE_QUEUE_TTL_MS={{ onclave_onramp_queue_ttl_ms }}
ONCLAVE_QUEUE_MAX_LENGTH={{ onclave_onramp_queue_max_length }}
ONCLAVE_HEARTBEAT_STALE_MS={{ onclave_onramp_heartbeat_stale_ms }}
ONCLAVE_MAX_EXCHANGES={{ onclave_onramp_max_exchanges }}
ONCLAVE_MAX_TOTAL_TOKENS={{ onclave_onramp_max_total_tokens }}
