WEB_FETCH_GATEWAY_TOKEN={{ web_fetch_client.token }}
TRAWL_URL=http://browser:8191
TRAWL_REVISION={{ web_fetch_browser_image }}
GATEWAY_REVISION={{ web_fetch_gateway_image }}
ROUTES_DB=/state/routes.sqlite
ROUTE_SCOPES={{ web_fetch_route_scopes | to_json }}
