Host {{ herdr_remote_context_ssh_alias }}
    HostName {{ herdr_remote_context_host }}
    HostKeyAlias {{ herdr_remote_context_ssh_alias }}
    User {{ herdr_remote_context_user }}
    IdentityFile {{ herdr_remote_context_identity_file }}
    IdentitiesOnly yes
    UserKnownHostsFile {{ herdr_remote_context_known_hosts_file }}
    GlobalKnownHostsFile /dev/null
    StrictHostKeyChecking yes
    ForwardAgent no
    IdentityAgent none
