MENOS_API_IMAGE={{ menos_api_image }}
SURREALDB_IMAGE={{ menos_surrealdb_image }}
MINIO_IMAGE={{ menos_minio_image }}
OLLAMA_IMAGE={{ menos_ollama_image }}
SEARXNG_IMAGE={{ menos_searxng_image }}
DOCLING_IMAGE={{ menos_docling_image }}
MENOS_AUTHORIZED_KEYS_FILE=./authorized_keys
SURREALDB_PASSWORD={{ menos_surrealdb_password }}
SURREALDB_NAMESPACE={{ menos_onramp_surrealdb_namespace }}
SURREALDB_DATABASE={{ menos_onramp_surrealdb_database }}
S3_ACCESS_KEY={{ menos_s3_access_key }}
S3_SECRET_KEY={{ menos_s3_secret_key }}
S3_BUCKET={{ menos_onramp_s3_bucket }}
S3_REGION={{ menos_onramp_s3_region }}
SEARXNG_SECRET={{ menos_searxng_secret }}
WEBSHARE_PROXY_USERNAME={{ menos_webshare_proxy_username }}
WEBSHARE_PROXY_PASSWORD={{ menos_webshare_proxy_password }}
YOUTUBE_API_KEY={{ menos_youtube_api_key }}
OPENROUTER_API_KEY={{ menos_openrouter_api_key }}
ANTHROPIC_API_KEY={{ menos_anthropic_api_key }}
OPENAI_API_KEY={{ menos_onramp_openai_api_key }}
CALLBACK_URL={{ menos_onramp_callback_url }}
CALLBACK_SECRET={{ menos_onramp_callback_secret }}
